@model List<ResultNotificationDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Bildirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Bildirim Listesi</div>
					</div>
					<div class="card-body">

						<a href="/AdminNotification/CreateNotification/" class="btn btn-outline-primary">Bildirim Ekle</a>

						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Açıklama</th>
									<th scope="col">Tarih</th>
									<th scope="col">Durum</th>
									<th scope="col">Okunduya Çevir</th>
									<th scope="col">Okunmadıya Çevir</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var x in Model)
								{
									<tr>
										<td>@x.NotificationId</td>
										<td>@x.Description</td>
										<td>@x.Date</td>
										@if(@x.Status==true)
										{
											<td>Okundu</td>
										}
										@if (@x.Status == false)
										{
											<td>Okunmadı</td>
										}
										<td><a href="/AdminNotification/NotificationStatusChangeTrue/@x.NotificationId" class="btn btn-outline-primary">Okunduya Çevir</a></td>
										<td><a href="/AdminNotification/NotificationStatusChangeFalse/@x.NotificationId" class="btn btn-outline-secondary">Okunmadıya Çevir</a></td>
										<td><a href="/AdminNotification/DeleteNotification/@x.NotificationId" class="btn btn-outline-danger">Sil</a></td>
										<td><a href="/AdminNotification/UpdateNotification/@x.NotificationId" class="btn btn-outline-warning">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
