@model List<ResultCategoryDto>

<ul class="filters_menu">
    <li class="active" data-filter="*">Tüm Ürünler</li>

    @foreach(var x in Model)
    {
        <li data-filter=".@x.CategoryName">@x.CategoryName</li>
    }

</ul>