@model List<ResultBookingDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
	int count = 0;
}

@section Scripts {
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

	<script type="text/javascript">
		$(document).ready(() => {
			// SignalR bağlantısı
			var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7014/SignalRHub").build();

			$("#connStatus").text(connection.state);

			connection.start().then(() => {
				$("#connStatus").text(connection.state);

				setInterval(() => {
					connection.invoke("GetBookingList");
				}, 1000);

			}).catch((err) => { console.log(err) });

			connection.on("ReceiveBookingList", (value) => {
				console.log(value);
				// $('#bookingList').empty();
				// value.forEach((item,index)=>{
				// 	$("#bookingList").append(`<li class="list-group-item">${item.name}</li>`)
				// });
						let tableHtml = `
		<table class="table mt-3">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>Ad Soyad</th>
			  <th>Telefon</th>
			  <th>Email</th>
			  <th>Kişi Sayısı</th>
			  <th>Tarih</th>
			  <th>Rezervasyon Durumu</th>
			  <th>Sil</th>
			  <th>Güncelle</th>
			  <th>Onayla</th>
			  <th>İptal Et</th>
			</tr>
		  </thead>
		  <tbody>
		`;

		$.each(value, (index, item) => {
		  tableHtml += `
			<tr>
			  <th>${index+1}</th>
			  <td>${item.name}</td>
			  <td>${item.phone}</td>
			  <td>${item.mail}</td>
			  <td>${item.personCount}</td>
			  <td>${item.date}</td>
			  <td>${item.description}</td>
			  <td>
				<a href="/AdminBooking/DeleteBooking/${item.bookingId}"
				   class="btn btn-outline-danger btn-sm">Sil</a>
			  </td>
			  <td>
				<a href="/AdminBooking/EditBooking/${item.bookingId}"
				   class="btn btn-outline-warning btn-sm">Güncelle</a>
			  </td>
			  <td>
				<a href="/AdminBooking/BookingStatusApproved/${item.bookingId}"
				   class="btn btn-outline-info btn-sm">Onayla</a>
			  </td>
			  <td>
				<a href="/AdminBooking/BookingStatusCancelled/${item.bookingId}"
				   class="btn btn-outline-dark btn-sm">İptal Et</a>
			  </td>
			</tr>
		  `;
		});

		tableHtml += `
		  </tbody>
		</table>
		`;

		$("#bookingList").html(tableHtml);

			});

		});
	</script>

}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Rezervasyon İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Rezervasyon Listesi</div>
					</div>
					<div class="card-body">

						<a href="/AdminBooking/CreateBooking/" class="btn btn-outline-primary">Rezervasyon Oluştur</a>

						<div id="bookingList"></div>

						<br />
						@* <div class="col-md-8">
							<ul class="list-group" id="bookingList"></ul>
						</div> *@
					</div>
				</div>

			</div>

		</div>
	</div>
</div>




