<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg" />
			</div>
			<div class="info">
				<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Yönetim Paneli
						<span class="user-level">Admin</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample">
					<ul class="nav">
						<li>
							<a href="/Menu/Index/">
								<span class="link-collapse">Menüyü Gör</span>
							</a>
						</li>
						<li>
							<a href="/Register/Index/">
								<span class="link-collapse">Yeni Kayıt</span>
							</a>
						</li>
						<li>
							<a href="/Login/Index/">
								<span class="link-collapse">Giriş Yap</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<ul class="nav">

			<li class="nav-item">
				<a href="/Login/Logout/">
					<i class="la la-sign-out"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="la la-globe"></i>
					<p>Siteye Git</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Menu/Index/">
					<i class="la la-cutlery"></i>
					<p>Menüyü Gör</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminCategory/Index/">
					<i class="la la-tags"></i>
					<p>Kategoriler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminProduct/Index/">
					<i class="la la-cube"></i>
					<p>Ürünler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminBooking/Index/">
					<i class="la la-calendar-check-o"></i>
					<p>Rezervasyonlar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminAbout/Index/">
					<i class="la la-info-circle"></i>
					<p>Hakkımızda</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminDiscount/Index/">
					<i class="la la-tag"></i>
					<p>İndirimler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminContact/Index/">
					<i class="la la-envelope"></i>
					<p>İletişim</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Mail/Index/">
					<i class="la la-paper-plane"></i>
					<p>Mail İşlemleri</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/QrCode/Index/">
					<i class="la la-qrcode"></i>
					<p>Qr Code Oluştur</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminSlider/Index/">
					<i class="la la-sliders"></i>
					<p>Öne Çıkanlar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminTestimonial/Index/">
					<i class="la la-commenting"></i>
					<p>Referanslar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminSocialMedia/Index/">
					<i class="la la-share-alt"></i>
					<p>Sosyal Medya</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Statistic/Index/">
					<i class="la la-bar-chart"></i>
					<p>İstatistikler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminMenuTable/Index/">
					<i class="la la-table"></i>
					<p>Masalar</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminMenuTable/MenuTableByStatus/">
					<i class="la la-check-square"></i>
					<p>Masa Durumları</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/Message/Index/">
					<i class="la la-envelope"></i>
					<p>Mesaj Sayfası</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminNotification/Index/">
					<i class="la la-bell"></i>
					<p>Bildirimler</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/ProgressBars/Index/">
					<i class="la la-line-chart"></i>
					<p>Anlık Durum Çubuğu</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/AdminSettings/Index/">
					<i class="la la-cog"></i>
					<p>Ayarlar</p>
				</a>
			</li>

			
		</ul>
	</div>
</div>